$branding-color-light: $blue-1
$branding-color: $blue
$branding-color-dark: $blue-8

$period-color-light: $teal-1
$period-color: $teal-6
$period-color-dark: $teal



@import "base"
@import "header"
@import "mobile"
@import "learningmap"
@import "timeline"

.rh-utilitybar
  border-radius: 0 0 $border-radius-small $border-radius-small
  .user
    color: $branding-color-dark

.header-title
  h1
    text-shadow: 1px 1px 3px rgba(0,0,0,.5)

.header-region-minor
  background: $period-color-dark $barsgradient