$branding-color-light: $blue-1
$branding-color: $blue
$branding-color-dark: $blue-8

$period-color-light: $teal-1
$period-color: $teal-6
$period-color-transparent: $teal-6
$period-color-dark: $teal

.content-region
  overflow: visible !important

.page-container
  overflow: visible !important

@import "base"
@import "header"
@import "mobile"
@import "learningmap"
@import "timeline"

.rh-utilitybar
  border-radius: 0 0 $border-radius-small $border-radius-small
  .user
    color: $branding-color-dark

.header-title
  h1
    text-shadow: 1px 1px 3px rgba(0,0,0,.5)

.header-region-minor
  background: $period-color-dark $barsgradient

.rh-tag-hgroup
  margin-top: $base-line-height-double
  .rh-tag
    color: $period-color-dark
    background-color: $period-color-light
    box-shadow: none
    padding: 2px 11px
    margin-right: $base-line-height
    border-radius: 50px
    i.fa
      color: $period-color

