%card-base
  position: relative
  margin: 0
  margin-bottom: $base-line-height-double
  padding: $base-line-height $base-line-height-double $base-line-height-double $base-line-height-double
  h1, h2, h3
    margin: 0
    padding: 0
    text-transform: none
    font-weight: 400
  h1, h3
    padding-bottom: $base-line-height
  h1
    font-size: 3.8rem
  h2
    font-size: 1.8rem
    text-transform: uppercase
    color: $blue
  h3
    font-size: 1.6rem
    color: $grey-8


.text-summary
  text-align: left
  p, li, a
    font-size: 1.6rem
  p
    margin-bottom: $base-line-height
    line-height: $base-line-height-double
    &:last-of-type
      margin-bottom: 0
  ul, ol
    margin: $base-line-height 0
  a
    +transition-all()
    padding: 5px
    margin: -5px
    border-radius: $border-radius-small
    line-height: 2.7rem
    text-decoration: none
    color: $branding-color-dark
    //border: 1px solid transparent
    &:hover
      text-decoration: underline
      background-color: $branding-color-light
      color: $branding-color-dark
      //border: 1px solid $period-color-light
  +max-width(800px)
    p, li, a
      font-size: 1.4rem
  +max-width(500px)
    p, li, a
      font-size: 1.4rem
      line-height: $base-line-height

%text-summary-big
  p, li, a
    font-size: 1.8rem
    line-height: $base-line-height-triple
  p
    margin-bottom: $base-line-height-triple
  p:last-of-type
    margin-bottom: $base-line-height
//+max-width(800px)
//  p, li, a
//    font-size: 1.6rem
//    line-height: $base-line-height-double
//  p
//    margin-bottom: $base-line-height-double




//------------------------------------------------------------------------------
// Misc
//------------------------------------------------------------------------------


.introduction
  @extend %card-base
  background: #fff
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 0 100px rgba(0,0,0,.08)
  padding: $base-line-height-double
  margin-bottom: $base-line-height
  border-radius: $border-radius
  h1,h2,h3,h4,h5,h6
    color: $branding-color
  h1
    margin-bottom: $base-line-height-triple
  h2
    font-weight: 600
    margin-top: $base-line-height-triple
    margin-bottom: $base-line-height-triple
  .text-summary
    @extend %text-summary-big
    text-shadow: 1px 1px 0 #fff
  .introduction-list-newcontent
    li
      margin-bottom: $base-line-height-half
      font-size: 1.8rem



//------------------------------------------------------------------------------
// Period
//------------------------------------------------------------------------------




.period
  background-color: #fff
  border-radius: $border-radius
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 0 100px rgba(57, 149, 157,.2)
  margin-bottom: $base-line-height-triple
  h1
    padding-bottom: $base-line-height
    position: relative
    .rh-statusicon-tiny
      position: relative
      top: -2.5rem
      margin-left: $base-line-height-half
  .instructions
    @extend .text-summary
    margin: $base-line-height 0
    padding: $base-line-height
    border-radius: $border-radius-small
    background-color: #fafafa
    font-style: italic
    text-shadow: 1px 1px 0 rgb(255,255,255)

.period-header
  overflow: hidden
  +background-greybars
  border-bottom: 1px solid $period-color-light

.period-title
  padding: $base-line-height-double
  .rh-icon-circle-text
    box-shadow: 0 0 15px rgba(0,0,0,.2)
    margin: 0 auto
    background-color: $period-color
    font-size: $ms-4
  .complete
    position: absolute
    top: -0.25rem
    right: 2rem
    .rh-statusicon-tiny
      border: 1px solid #fff
  h1
    color: $period-color-dark
    font-weight: 400
    margin: 0
    padding: 0
    font-size: $ms-5
  .text-summary
    color: $period-color-dark

.period-content
  padding: $base-line-height-double

//.period-past
//  border-top: 1px solid $grey-8
//  box-shadow: none
//  h1
//    color: $grey-8
//  .period-indicator
//    .rh-icon-circle-text
//      color: $grey-8
//      background: $grey-1
//      text-shadow: 1px 1px 0 rgba(255,255,255,.25)
//    .period-indicator-label
//      color: $grey-8
//
//.period-current
//  border-top: 1px solid $red-dark-1
//  h1
//    color: $red
//  .period-indicator
//    .rh-icon-circle-text
//      background: $red
//      color: #fff
//      text-shadow: 1px 1px 0 rgba(0,0,0,.25)
//    .period-indicator-label
//      color: $red
//
//.period-future
//  border-top: 1px solid $teal
//  .period-indicator
//    .rh-icon-circle-text
//      color: #fff
//      background-color: $teal
//      text-shadow: 1px 1px 0 rgba(0,0,0,.25)
//    .period-indicator-label
//      color: $teal

.period-topic
  h1
    font-size: $ms-5
    color: $period-color-dark
    text-transform: uppercase
    font-weight: 400
    margin: 0
    margin-top: $base-line-height-double
    padding: 0
    padding-bottom: $base-line-height-half
    margin-bottom: $base-line-height-half
    border-bottom: 1px solid $period-color-light
    .rh-statusicon
      position: relative
      top: -5px
      margin-right: $base-line-height
  .text-summary
    margin-top: $base-line-height-half
    margin-bottom: $base-line-height-double
  table.rh-custom-table
    margin: 0
    border-radius: $border-radius / 2
    overflow: hidden
    //margin-bottom: $base-line-height-double
  //table.rh-custom-table:last-of-type
  //  margin-bottom: 0




//------------------------------------------------------------------------------
// Table
//------------------------------------------------------------------------------

// Additions to the custom-table

//tr.details-required-row
//  border-left: 1px solid $red-dark-1

.rh-custom-table
  border-radius: $border-radius*2
  overflow: visible !important
  tr
    background-image: linear-gradient(-45deg, transparent 50%, $period-color-light 50.01%, #fff 100%)
    background-size: 250%
    background-position: 99% 99%
    transition: transform 240ms ease-out
  tr:hover
    background-position: 0 0
    transform: scale(1.01)
    z-index: 1
    box-shadow: 2px 4px 20px $period-color-light
  td
    padding: $base-line-height-double

td.details-course-required
  width: 1rem
  vertical-align: top
  padding-right: 0
  padding-top: $base-line-height-double + .25rem

td.details-course-status
  width: 4rem
  text-align: center
  .rh-statusicon
    margin: 0 auto

.status-label
  @extend .small
  font-weight: 400
  display: block
  text-transform: uppercase

//.status-group

td.details-course-name
  @extend .text-summary
  width: 40rem
  font-weight: 400
  vertical-align: top
  padding-left: $base-line-height-half
  a, span
    font-size: 1.8rem
  span
    font-weight: 600
  .details-course-name-required
    margin-right: 5px
  +max-width(900px)
    width: 30rem
  +max-width(500px)
    width: 15rem

td.details-course-description
  @extend .text-summary
  vertical-align: top

td.details-completion
  width: 10rem
  text-align: center
  border-left: 1px solid rgba(0,0,0,.1)
  background-color: rgba(0,0,0,.02)
  .react-toggle-thumb
    background-color: #fff
    border: 2px solid $branding-color-dark
  .react-toggle-track
    background-color: $grey-3
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-thumb
    border: 4px solid $branding-color
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track
      background-color: rgba(0,0,0,.1)
  .toggle-label
    @extend .status-label

// asterisk after name
.details-course-name-required
  position: relative
  font-weight: 400
  font-size: 1rem
  padding: 3px 3px
  border-radius: $border-radius-small
  top: -0.25rem
  color: #fff
  background-color: $red
  text-shadow: 1px 1px $red-dark-1 !important

// (New) or (Updated) text after name
.details-course-name-newOrUpdated
  color: $blue
  font-style: italic

.reflection-group
  background-color: rgba(0,0,0,.025)
  border: 1px solid rgba(0,0,0,.1)
  border-radius: $border-radius-small
  margin-top: $base-line-height-double
  padding: $base-line-height

.reflection-text-area
  margin-right: $base-line-height-double
  border: 1px solid rgba(0,0,0,.1)
  border-radius: $border-radius-small
  box-shadow: none

.reflection-prompt
  font-weight: 600
  color: $blue
  padding-bottom: $base-line-height

.reflection-saved-header
  @extend .reflection-prompt

.reflection-saved-header