.rh-timeline-container
  +transition-all()
  z-index: 9
  padding-bottom: $base-line-height-double
  position: -webkit-sticky
  position: sticky
  top: -1px // keep the grad bg to the top of the window
  padding-bottom: 90px // padding/margin help the shadows show
  margin-bottom: -70px
  .page-container
    overflow: visible
    margin-top: 10px // allow the gradient to show above the timeline
    margin-bottom: 10px
  +max-width($mqbp-small)
    position: relative

// Added to the el when it starts to move w/ scroll
.rh-timeline-floating
  background: linear-gradient(180deg, #fff, rgba(255,255,255,0) 50%)
  .rh-timeline
    ul
      box-shadow: 0 2px 4px rgba(0,0,0,0.05), 4px 8px 15px -7px rgba(0,0,0,0.1), 4px 8px 20px rgba(0,0,0,0.10)

.rh-timeline
  +transition-all()
  position: relative
  width: 100%
  margin: 0
  padding-top: $base-line-height
  border-bottom: 2px solid $branding-color-dark
  ul
    +transition-all()
    display: flex
    justify-content: center
    align-items: stretch
    position: relative
    width: 100%
    margin: 0
    padding: 0
    list-style: none
    border-radius: $border-radius
    background-color: #fff
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.02))
    box-shadow: 0 1px 2px rgba(0,0,0,0.075)
    +max-width($mqbp-small)
      flex-wrap: wrap
  li
    border-right: 1px solid $grey-1
    &:last-of-type
      border-right: none

.rh-timeline-item
  margin: 0
  flex: 1
  width: 100%
  vertical-align: middle
  position: relative
  padding: $base-line-height-half
  background-image: linear-gradient(-45deg, #fff 50%, $branding-color-light 50.01%, $branding-color-dark 100%)
  background-size: 250%
  background-position: 99% 99%
  transition: background-position 120ms ease-out, transform 240ms ease-out
  +max-width($mqbp-medium)
    .status-ribbon-top-success
      display: none
  +max-width($mqbp-small)
    flex-basis: 100%
  a
    font-size: 1.2rem
    line-height: 1.4rem
    text-decoration: none
    color: $branding-color-dark
    cursor: pointer
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    display: block
    span
      display: block
      overflow: hidden
      text-align: left
      //text-overflow: ellipsis
      //white-space: nowrap
      text-transform: uppercase
      font-weight: 600
      padding: $base-line-height-half 0 $base-line-height-half $base-line-height-triple
      +max-width($mqbp-medium)
        padding: $base-line-height-half
    span.timeline-item-meta
      color: $grey-6
      font-weight: 400
      padding-top: 0
      text-transform: none
      em
        font-weight: 600
        font-style: normal
    //.rh-icon-circle-text-inverse-small
    //  box-shadow: 0 0 15px rgba(0,0,0,.15)
    //  background-color: $period-color
    //  background-image: $dark-gradient
  &:hover
    border-right: 1px solid transparent
    background-position: 0 0
    transform: scale(1.05)
    z-index: 2
    box-shadow: 0 1px  6px  rgba(0, 0, 0, .1), 0 8px  8px  rgba(0, 0, 0, .05), 4px 23px 40px -15px rgba(0,0,0,0.15), 8px 30px 64px rgba(0, 0, 0, .1)
    transition: background-position 320ms ease-out, transform 120ms ease-out
    a
      color: #fff
      text-shadow: $text-shadow-dark
      span.timeline-item-meta
        color: #fff
      .rh-icon-circle-text-inverse-small
        color: $period-color
        background-color: #fff
        text-shadow: none
  .complete
    position: absolute
    top: 0
  //  .past
  //    .block-label
  //      color: #999
  //    .block
  //      background-color: #fafafa
  //      &:hover
  //        background-color: #eee
  //      a
  //        color: #999
  //        .rh-icon-circle-text-inverse-small
  //          box-shadow: none
  //          background-color: $grey-1
  //          color: $grey-10
  //          text-shadow: 1px 1px 0 rgba(255,255,255,.25)
  //  .current
  //    .block-label
  //      color: #fff
  //      background: $red
  //      text-shadow: 1px 1px 0 rgba(0,0,0,.2)
  //    .block
  //      background: $red linear-gradient(transparent, rgba(255,255,255,.25))
  //      box-shadow: 0 0 15px rgba(0,0,0,.2)
  //      &:hover
  //        background-color: rgb(212, 16, 28)
  //      a
  //        color: #fff
  //        font-weight: 600
  //        span
  //          text-shadow: 1px 1px 0 rgba(0,0,0,.2)
  //        .rh-icon-circle-text-inverse-small
  //          background-color: #fff
  //          color: $red
  //          box-shadow: 0 0 15px rgba(0,0,0,.3)
  //          text-shadow: none
  //.complete
  //  position: absolute
  //  top: 2rem
  //  width: 100%
  //  margin-left: 1.5rem
  //  .rh-statusicon-tiny
  //    border: 1px solid #fff
