.rh-timeline-container
  z-index: 9
  padding-bottom: $base-line-height-double
  position: -webkit-sticky
  position: sticky
  top: -1px
  padding-bottom: 70px
  margin-bottom: -50px
  .page-container
    overflow: visible
    //padding-top: 10px
    margin-top: 10px
    //padding-bottom: 50px
    margin-bottom: 10px


// Added to the el when it starts to move w/ scroll
.rh-timeline-floating
  background: linear-gradient(180deg, #fff, rgba(255,255,255,0) 50%)
  .rh-timeline
    //box-shadow: 0 2px 4px rgba(0,0,0,0.05), 4px 8px 15px -7px rgba(0,0,0,0.1), 4px 8px 20px rgba(0,0,0,0.10)

.rh-timeline
  +transition-all()
  display: block
  position: relative
  width: 100%
  margin: 0
  //box-shadow: 0 1px 2px rgba(0,0,0,0.075)
  //border: 1px solid rgba(0,0,0,.1)
  //border-radius: $border-radius
  //overflow: hidden
  ul
    display: flex
    flex-wrap: nowrap
    justify-content: center
    align-items: stretch
    position: relative
    width: 100%
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      margin: 0
      flex: 1
      background-color: #fff
      box-shadow: 0 1px 10px rgba(0,0,0,0.075)
      &:first-of-type
        border-radius: $border-radius 0 0 $border-radius
      &:last-of-type
        border-radius: 0 $border-radius $border-radius 0
      .block-label
        width: 100%
        text-align: center
        vertical-align: bottom
        font-size: 1rem
        font-weight: 600
        color: $blue-8
        padding: 0 $base-line-height-half
        background-color: rgb(245,245,245)
      .block
        +transition-all(.25s)
        width: 100%
        text-align: center
        vertical-align: middle
        padding: $base-line-height
        position: relative
        border: 1px solid transparent
        border-radius: 0
        &:hover
          //background-color: $blue-1
          border: 1px solid $blue
          border-radius: $border-radius
          background-color: $grey-0
          transform: scale(1.15)
          z-index: 2
          box-shadow: 0 1px  6px  rgba(0, 0, 0, .1), 0 8px  8px  rgba(0, 0, 0, .05), 4px 23px 40px -15px rgba(0,0,0,0.15), 8px 30px 64px rgba(0, 0, 0, .1)
        a
          font-size: 1.2rem
          line-height: 1.4rem
          text-decoration: none
          color: $blue-8
          cursor: pointer
          position: relative
          span
            display: block
            padding-bottom: $base-line-height
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            text-transform: uppercase
            font-weight: 600
          .rh-icon-circle-text-inverse-small
            box-shadow: 0 0 15px rgba(0,0,0,.15)
            background-color: $blue
    .past
      .block-label
        color: #999
      .block
        background-color: #fafafa
        &:hover
          background-color: #eee
        a
          color: #999
          .rh-icon-circle-text-inverse-small
            box-shadow: none
            background-color: $grey-1
            color: $grey-10
            text-shadow: 1px 1px 0 rgba(255,255,255,.25)
    .current
      .block-label
        color: #fff
        background: $red
        text-shadow: 1px 1px 0 rgba(0,0,0,.2)
      .block
        background: $red linear-gradient(transparent, rgba(255,255,255,.25))
        box-shadow: 0 0 15px rgba(0,0,0,.2)
        &:hover
          background-color: rgb(212, 16, 28)
        a
          color: #fff
          font-weight: 600
          span
            text-shadow: 1px 1px 0 rgba(0,0,0,.2)
          .rh-icon-circle-text-inverse-small
            background-color: #fff
            color: $red
            box-shadow: 0 0 15px rgba(0,0,0,.3)
            text-shadow: none
  .complete
    position: absolute
    bottom: 3.5rem
    width: 100%
    margin-left: .5rem